<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.getclipboard</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>909BC49E-BEDC-4643-B679-B6260CCDCFB0</string>
				<key>CustomOutputName</key>
				<string>Clipboard</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>97FD2EB7-685B-4740-ADA1-0A7F75BB1448</string>
				<key>CustomOutputName</key>
				<string>Limit</string>
				<key>WFTextActionText</key>
				<string>1900</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.split</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>2138A88D-9583-40ED-9329-8FF781805627</string>
				<key>CustomOutputName</key>
				<string>Split Text</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Clipboard</string>
						<key>OutputUUID</key>
						<string>909BC49E-BEDC-4643-B679-B6260CCDCFB0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFTextSeparator</key>
				<string>Custom</string>
				<key>WFTextCustomSeparator</key>
				<string>

</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>4DD3BB69-F33A-4EA2-8281-3746DA8A44A8</string>
				<key>CustomOutputName</key>
				<string>Empty</string>
				<key>WFTextActionText</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>A444AEC1-A7FC-4929-BBA9-F1F6C91F0505</string>
				<key>WFVariableName</key>
				<string>Current</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Empty</string>
						<key>OutputUUID</key>
						<string>4DD3BB69-F33A-4EA2-8281-3746DA8A44A8</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>6FFE4700-0B26-4DC2-98A4-9C9B65A9913B</string>
				<key>GroupingIdentifier</key>
				<string>1A881783-0B79-41D1-9314-EF2D2642D86D</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Split Text</string>
						<key>OutputUUID</key>
						<string>2138A88D-9583-40ED-9329-8FF781805627</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B0D3B5D4-B783-4AB9-8605-B5BC07179EC6</string>
				<key>CustomOutputName</key>
				<string>Candidate</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>Current</string>
							</dict>
							<key>{3, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Repeat Item</string>
								<key>OutputUUID</key>
								<string>6FFE4700-0B26-4DC2-98A4-9C9B65A9913B</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼

￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EDFF430A-040D-4B5A-A4F5-A7C063D91009</string>
				<key>CustomOutputName</key>
				<string>Count</string>
				<key>WFCountType</key>
				<string>Characters</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Candidate</string>
						<key>OutputUUID</key>
						<string>B0D3B5D4-B783-4AB9-8605-B5BC07179EC6</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>BFCB411A-9090-4E80-A1D4-885683BF37F9</string>
				<key>GroupingIdentifier</key>
				<string>B106C68C-80A5-4ABB-A726-D1EC18258EEC</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFCondition</key>
				<string>Is Greater Than</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Count</string>
						<key>OutputUUID</key>
						<string>EDFF430A-040D-4B5A-A4F5-A7C063D91009</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFNumberValue</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Limit</string>
						<key>OutputUUID</key>
						<string>97FD2EB7-685B-4740-ADA1-0A7F75BB1448</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>BE381F91-D55F-41A8-B01D-37E21517F2ED</string>
				<key>WFVariableName</key>
				<string>Pieces</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Current</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>CDE6DAFA-064F-4989-9737-819C4C176E2D</string>
				<key>WFVariableName</key>
				<string>Current</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Repeat Item</string>
						<key>OutputUUID</key>
						<string>6FFE4700-0B26-4DC2-98A4-9C9B65A9913B</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>F2A0ABD4-3F34-412E-A2CC-7E4C80F35C6A</string>
				<key>GroupingIdentifier</key>
				<string>B106C68C-80A5-4ABB-A726-D1EC18258EEC</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>C85DA0A6-0030-451C-B893-E5AD5C7633FA</string>
				<key>WFVariableName</key>
				<string>Current</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Candidate</string>
						<key>OutputUUID</key>
						<string>B0D3B5D4-B783-4AB9-8605-B5BC07179EC6</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>FAA8E9B9-23C3-4560-98DB-A84D52A84DBE</string>
				<key>GroupingIdentifier</key>
				<string>B106C68C-80A5-4ABB-A726-D1EC18258EEC</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>B30D64FC-420E-485E-BC0C-E67ACD536B2D</string>
				<key>GroupingIdentifier</key>
				<string>1A881783-0B79-41D1-9314-EF2D2642D86D</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.appendvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>EBD68CE9-2AAF-4AAB-8C92-B0DF85282799</string>
				<key>WFVariableName</key>
				<string>Pieces</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Current</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.count</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>87870253-B546-4D87-9E15-320851ACE6D9</string>
				<key>CustomOutputName</key>
				<string>Total</string>
				<key>WFCountType</key>
				<string>Items</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Pieces</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>D94CB55D-321B-4FE8-837D-61DD4E32838D</string>
				<key>GroupingIdentifier</key>
				<string>3670FEC8-D79B-46EB-AF89-82F573CAF591</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>Pieces</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setclipboard</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>924D01EC-386C-4507-99D3-1AF53C2A58A0</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Repeat Item</string>
						<key>OutputUUID</key>
						<string>D94CB55D-321B-4FE8-837D-61DD4E32838D</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.alert</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>7FFFD0B2-D714-4BA4-BC36-3C830725B722</string>
				<key>WFAlertActionCancelButtonShown</key>
				<true/>
				<key>WFAlertActionTitle</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{6, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Repeat Index</string>
								<key>OutputUUID</key>
								<string>38FED50F-295F-4DCE-9B8B-5412FD437404</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
							<key>{11, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Total</string>
								<key>OutputUUID</key>
								<string>87870253-B546-4D87-9E15-320851ACE6D9</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Piece ￼ of ￼ copied</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFAlertActionMessage</key>
				<string>Paste it in Discord, then tap OK for the next one.</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.repeat.each</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>38FED50F-295F-4DCE-9B8B-5412FD437404</string>
				<key>GroupingIdentifier</key>
				<string>3670FEC8-D79B-46EB-AF89-82F573CAF591</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.notification</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>BAC1CCC2-CF97-42FE-9D0A-7D6589C21A50</string>
				<key>WFNotificationActionTitle</key>
				<string>Split for Discord</string>
				<key>WFNotificationActionBody</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{6, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>Total</string>
								<key>OutputUUID</key>
								<string>87870253-B546-4D87-9E15-320851ACE6D9</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>Done. ￼ pieces.</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>WFWorkflowClientVersion</key>
	<string>2607</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>NCWidget</string>
		<string>WatchKit</string>
	</array>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>431817727</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61440</integer>
	</dict>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVMediaContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
</dict>
</plist>
